
a.anchor {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}


#module a.collapsed:after  {
    content: '+ Show More';
}

#module a:not(.collapsed):after {
    content: '- Show Less';
}

.twitter-timeline-over{
	overflow-y: scroll!important;
}


  .reduce_margin{
  	margin-left:-15px;
  	margin-bottom: 0px;
  }


.bg-custom{background-color: #ececec}

.bottom-page{
	display:block;
	max-height:250px;
  width:100%;
}


.height450{
	display:block;
	max-height:450px;
}

.h-90{

		height:90%!important;

}

.h-70{

    height:70%!important;

}

.h-40{

height:40%!important;

}

.h-10{

    height:10%!important;

}

.h100{height:120px; max-width:100%;}
.max-h{ height: 125px; }
.mh100{max-height:120px; max-width:100%;}
.height200{height:200px;}
.maxheight200{max-height:200px;}


.maxheight100{max-height:100px;}

.height300{height:300px;}
.height100{height:100px;}
.h300{height:300px;}
.h25{height:25px;}
.maxheight300{max-height:300px; max-width:100%;}
.maxheight400{max-height:400px;}
.maxheight500{max-height:500px; max-width:100%;}


.hrr{
	font-weight: bold ;
}

a{color: #2E9A00;}
a:hover {color: #2E9A00;}
a.blacklink{color: #397d10;}


.hl{
  display: block;
  border-top: solid 1px #2E9A00;
  width: 100%;
  height:1px;
  z-index: -1;
}

h5{font-weight: bold !important;}
h4{font-weight: bold !important;}
