body {
  /* Margin bottom by footer height */
margin-bottom: 85px;
}

html {
    position: relative;
  min-height: 100%;
}
.breaking{
  height:2px;
}
.footer {
position: absolute;
  bottom:0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 80px;
  padding-top: 0rem;
  padding-bottom: 0rem;

  background-color: #f5f5f5;
}

.footer .img-fluid{
  display:block;
height:100%; 
/*force l'image a adopter la hauteur définie par le colonne, elle meme forcée à adopter 100 de la hauteur de la ligne (via la class h-100), elle meme forcée à adopter 100% du footer (60px)*/

}

.footer-text{
  font-size:0.7rem;
  padding: 0rem;
  margin: 0rem;
    background-color: #f5f5f5;

}

hr{
  margin:0rem;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
